@function set-text-color($color){
    @if(lightness($color) > 50){
        @return #000000;
    } @else {
        @return #fff;
    }
}

@mixin transition($time){
    transition: all $time ease-out;
}