// Fonts
//
// Custom Fonts.
@font-face{
    font-family: century;
    src: url('../gph/century.ttf');
}

h1,h2,h3,h4,h5,h6,p,li{
    font-family: century;
}



// Variables
//
// Custom vars.
$height: 95vh;
$width: 100vw;
$swiper-width: 50vw;
$swiper-height: 30vh;
$ina-space: 0.618rem;
$section-space: 5rem;


// Layout
//
// General spaces.
section:not(.hero){
    padding: $section-space 0px;
}
.space15vh{
    height: 15vh;
}


// Navbar
//
// Main navbar.
.navbar {
    background-color: #ffffff;
    @include ina-shadow(0, black);
    border-bottom: black 1px;
}

.navbar .navbar-nav .nav-item.active .nav-link{
    color: $white;
    background-color: #2c5828;
    border-radius: .25rem;
}


// Footer
//
// Main footer.
footer{
    background: $inatek-green-dark;
    color: white;
    padding: 1rem 0px;
    
    i{
        color: white;
        padding: 0px $ina-space;
        
        &:hover{
            color: $inatek-green;
        }
    }
    
    #developer{
        font-size: $ina-space;
        
        a{
            color: white;
            text-decoration: underline;
            
            &:hover{
                color: $inatek-green;
            }
        }
    }
}


// Hero
//
// Cover sections.
section.hero{
    height: $height;
    max-width: $width;
    color: white;
    
    a{
        color: white;
        text-decoration: none;
        
        &:hover{
            color: $inatek-blue-dark;
        }
    }
    
    div.swiper-container{
        width: $swiper-width;
        height: $swiper-height;
        background: rgba(255,255,255,0.6);
        padding: $ina-space;
        box-shadow: 0px 3px 5px 1px #000000;
        border-radius: $ina-space;
        
        img{
            height: 100%;
            width: auto;
        }
    }
}