// Fonts
//
// Custom Fonts.
@font-face{
    font-family: century;
    src: url('../gph/century.ttf');
}

h1,h2,h3,h4,h5,h6,p,li,label,input,textarea,button{
    font-family: century;
}

h1,h2,h3,h4,h5,h6{
    color: $inatek-green-dark;
}



// Variables
//
// Custom vars.
$height: 95vh;
$width: 100vw;
$swiper-width: 50vw;
$swiper-height: 30vh;
$ina-space: 0.618rem;
$section-space: 3rem;


// Layout
//
// General spaces.
section:not(.hero){
    padding: $section-space 0px;
}
.space15vh{
    height: 15vh;
}
.ina-title{
    padding: 0px 0px $ina-space 0px;
}
.green-text{
    color: $inatek-green-dark;
}
.white-text{
    color: white;
}
.ina-box{
    padding: 2rem;
    box-shadow: -3px 3px 5px 0 #000000;
    border-radius: 10px;
}
.ina-gray-box{
    @extend .ina-box;
    background: #F6F6F6;
}
.ina-green-box{
    @extend .ina-box;
    background: $inatek-green-dark;
    color: white;
}
input:focus, textarea:focus{
    box-shadow: 2px 2px 3px 0 $inatek-green-dark;
}


// Navbar
//
// Main navbar.
.navbar {
    background-color: #ffffff;
    @include ina-shadow(0, black);
    border-bottom: black 1px;
}

.navbar .navbar-nav .nav-item.active .nav-link{
    color: $white;
    background-color: #2c5828;
    border-radius: .25rem;
}


// Footer
//
// Main footer.
footer{
    background: $inatek-green-dark;
    color: white;
    padding: 1rem 0px;
    
    i{
        color: white;
        padding: 0px $ina-space;
        
        &:hover{
            color: $inatek-green;
        }
    }
    
    #developer{
        font-size: $ina-space;
        
        a{
            color: white;
            text-decoration: underline;
            
            &:hover{
                color: $inatek-green;
            }
        }
    }
}


// Hero
//
// Cover sections.
section.hero{
    height: $height;
    max-width: $width;
    color: white;
    
    h1,h2,h3,h4,h5,h6{
        color: white;
    }
    
    a{
        color: white;
        text-decoration: none;
        
        &:hover{
            color: $inatek-blue-dark;
        }
    }
    
    div.swiper-container{
        width: $swiper-width;
        height: $swiper-height;
        background: rgba(255,255,255,0.6);
        padding: $ina-space;
        box-shadow: 0px 3px 5px 1px #000000;
        border-radius: $ina-space;
        
        img{
            height: 100%;
            width: auto;
        }
    }
}


// Technologies
//
// Inatek technologies.
section#technologies{
    background-image: url(../Imgs/Fondo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    
    h1,h2,h3,h4,h5,h6{
        color: white;
    }
    
    iframe{
        border-radius: 10px;
    }
    
    div.space2rem{
        height: 4rem;
    }
    
    img.ina-gif{
        height: 200px;
    }
}


// About
//
// Inatek company info.
section#ciel,
section#cleantech{
    .ina-box{
        #ciel-logo{
            width: 80%;
            margin-left: 10%;
            margin-top: -5rem;
        }
        #cleantech-logo{
            width: 60%;
            margin-left: 20%;
            margin-top: -6rem;
        }
    }
}


// Contact
//
// Contact Form.
section#contact{
    background: #AFC9DE;
    
    iframe{
        box-shadow: -3px 3px 5px 0 #000000;
        border-radius: 10px;
    }
    
    a{
        color: $inatek-blue;
        
        &:hover{
            color: $inatek-blue-dark;
        }
    }
}


// Buttons
//
// Modal windows of products.
section#buttons{
    img.hvr-grow:hover{
        cursor:pointer;
    }
}



// Projects
//
// Project development.
section#projects{
    background: #597A3D;
    
    div.ina-green-box{
        margin: $ina-space 0px;
    }
    
    div.clients-row{
        margin: $ina-space 0px;
    }
}